ion-content {
  --background: rgb(254, 255, 4);
  --background: linear-gradient(
    87deg,
    rgba(254, 255, 4, 1) 0%,
    rgba(249, 125, 10, 0.84404184036896) 100%,
    rgba(29, 119, 144, 1) 100%
  );
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .btn-danger {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    box-shadow: 2px 2px 3px #000;
  }
  .btn-danger:active {
    transform: scale(0.9);
    transition: transform 0.3s;
  }
}
