<ion-content>
  <!--******************************* LOGOUT  *******************************-->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="menu-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button
        (click)="logoutUser()"
        style="border: 1px solid #000; border-radius: 50%"
        ><ion-icon
          name="exit-sharp"
          style="
            color: #f00;
            background: rgb(255, 255, 255);
            padding: 5px;
            font-size: 3rem;
          "
        ></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!--******************************* PRINCIPAL *******************************-->
  <ion-grid>
    <!-- UBICACION ORIGEN Y DESTINO -->
    <ion-row style="text-align: center; background: rgba(0, 0, 0, 0.466)">
      <ion-col>
        <div>
          <h3 style="font-weight: bold">
            <ion-icon
              (click)="printCurrentPosition()"
              class="btn-location"
              style="
                color: rgb(0, 102, 219);
                background: #fff;
                padding: 5px;
                border-radius: 10px;
                margin-right: 1rem;
              "
              name="locate"
            ></ion-icon
            >Origen
          </h3>
          <p style="color: rgb(159, 201, 250)" *ngIf="results">
            {{results.thoroughfare}} {{results.subThoroughfare}},
            {{results.subLocality}}, {{results.administrativeArea}},
            {{results.postalCode}}, {{results.countryName}}
          </p>
        </div>
        <div>
          <h3 style="font-weight: bold">
            <ion-icon
              style="
                color: rgb(255, 0, 0);
                background: #fff;
                padding: 5px;
                border-radius: 10px;
                margin-right: 1rem;
              "
              name="pin"
            ></ion-icon
            >Destino
          </h3>
          <p style="color: rgb(255, 187, 187)" *ngIf="selectedAddress">
            {{selectedAddress}}
          </p>
        </div>
      </ion-col>
    </ion-row>

    <!-- BUSCAR DIRECCIÓN -->
    <ion-row style="text-align: center; background: rgba(0, 0, 0, 0.466)">
      <ion-col>
        <ion-searchbar
          [disabled]="alarmActivated"
          color="light"
          placeholder="Buscar dirección"
          debounce="500"
          (ionChange)="search($event)"
        ></ion-searchbar>
        <div style="position: relative; width: 100%; z-index: 999">
          <ion-list lines="none" *ngIf="addresses.length > 0">
            <ion-item
              button
              *ngFor="let address of addresses"
              (click)="onSelect(address)"
            >
              <ion-icon name="pin"></ion-icon>
              {{address}}
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>

    <!-- DISTANCIA ACTUAL Y MÍNIMA -->
    <ion-row style="text-align: center; background: rgba(0, 0, 0, 0.466)">
      <ion-col>
        <div>
          <h3 style="font-weight: bold">
            <ion-icon
              style="
                color: rgb(0, 129, 235);
                background: #fff;
                padding: 5px;
                border-radius: 10px;
                margin-right: 1rem;
              "
              name="location"
            ></ion-icon
            >Dist. Actual<span
              style="font-weight: bolder; color: rgb(0, 129, 235)"
              *ngIf="currentDistance"
            >
              {{currentDistance}} mts</span
            ><span></span>
          </h3>
        </div>
        <div>
          <h3 style="font-weight: bold">
            <ion-icon
              style="
                color: rgb(255, 0, 0);
                background: #fff;
                padding: 5px;
                border-radius: 10px;
                margin-right: 1rem;
              "
              name="alarm"
            ></ion-icon
            >Dist. Mínima<span
              style="font-weight: bolder; color: rgb(255, 0, 0)"
              *ngIf="minimunDistance"
            >
              {{minimunDistance}} mts</span
            >
          </h3>
        </div>
      </ion-col>
    </ion-row>

    <!-- INPUT DISTANCIA MÍNIMA -->
    <ion-row
      style="
        text-align: center;
        background: rgba(0, 0, 0, 0.466);
        box-shadow: 2px 2px 4px #000;
      "
    >
      <ion-item
        style="
          width: 70%;
          display: block;
          margin-top: 1rem;
          margin-left: auto;
          margin-right: auto;
          z-index: 10;
        "
      >
        <ion-label position="floating">Distancia mínima</ion-label>
        <ion-input
          [disabled]="alarmActivated"
          type="number"
          [(ngModel)]="minimunDistance"
        ></ion-input>
        <ion-note slot="helper" color="dark"
          >Ingrese una distancia en metros valida</ion-note
        >
        <ion-note slot="error">Distancia invalida</ion-note>
      </ion-item>
    </ion-row>

    <!-- ACTIVAR Y DESACTIVAR -->
    <ion-row>
      <button
        *ngIf="!alarmActivated"
        [disabled]="!(flagDestinationAddress&&flagCurrentAddress&&minimunDistance>0)"
        type="submit"
        class="btn btn-warning"
        style="margin-top: 2rem; margin-bottom: 1rem; width: 18rem"
        (click)="activateAlarm()"
      >
        ACTIVAR
      </button>
      <button
        *ngIf="alarmActivated"
        type="submit"
        class="btn btn-danger"
        style="margin-top: 2rem; margin-bottom: 1rem; width: 18rem"
        (click)="desactivateAlarm()"
      >
        DESACTIVAR
      </button>
    </ion-row>
  </ion-grid>

  <!--******************************* SPINNER *******************************-->
  <!-- <ion-spinner
    *ngIf="pressedButton"
    name="lines"
    color="danger"
    style="display: block; margin: auto; position: inherit; z-index: 1999;"
  ></ion-spinner> -->
</ion-content>
