ion-content {
  --background: rgb(0, 0, 0);
  --background: linear-gradient(
    225deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(245, 128, 4, 1) 100%
  );
  
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .btn-danger {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    box-shadow: 2px 2px 3px #000;
  }
  .btn-danger:active {
    transform: scale(0.9);
    transition: transform 0.3s;
  }
}
